Bisect/out.dat
Bisect/out_turb.dat.dat
Bisect/out_turb.dat
bisection_mod.mod
pi_mod.mod
PI
bisection
Output/out.dat
Output/flux.dat
Output/plotinfo.in
Plots
*~
Bisect/Data
Input/init.dat
Input/setup.in
Bisect/Output/
POPI/Output/
POPI/POPI
initialise.mod
newton.mod
orbit.mod
*#
Input/POPI_in.dat
POPI/Input/guess.in
POPI/Input/POPI_in.dat
POPI/Input/setup.in
POPI/Input/frameinfo.in
POPI/Input/guess.in~
POPI/Input/params.in
interp
Tracking/Data/0.txt
Tracking/Data/test
Tracking/Data/test6
Tracking/Data/test_neg
Tracking/Output/flux.dat
Tracking/Output/guess.out
Tracking/Output/out.dat
Tracking/Output/outL.dat
Tracking/Output/out_old.dat
Tracking/Output/out_oldL.dat
Tracking/__pycache__/
Tracking/Input/frameinfo0.in
Tracking/Input/#guess0.in#
Tracking/Input/guess0.in
Tracking/Input/guess1.in
Tracking/Input/POPI_in0.dat
Tracking/Input/POPI_in1.dat
Tracking/Input/POPI_in.dat
Tracking/Input/setup0.in
Tracking/Input/track2.in
Tracking/Input/trackL.in
Tracking/Input/trackL.in~
Tracking/Data/
